<%- include('header') %>
<div class="box" id="heading">
    <h2>
        Please Sign Up or Sign In
    </h2>
</div>
    <div class="d-flex flex-row justify-content-center">
            <form action="/register" method="get">
                <button type="submit" class="btn">User Registration</button>
            </form>
            <form action="/login" method="get">
                <button type="submit" class="btn">User Login</button>
            </form>
    </div>
    <%- include('footer') %>