<%- include('header') %>
    <div>
        <div class="mb-2">
            <form action="/register" method="get">
                <button type="button" class="btn">User Registration</button>
            </form>
        </div>

        <div class="mb-2">
            <form action="/login" method="get">
                <button type="button" class="btn">User Login</button>
            </form>
        </div>
    </div>
    <%- include('footer') %>